<section *ngIf="task">
  <h2 (click)="toggleEditor()">{{taskName}}</h2>
  <div *ngIf="editorIsOpen">
    <input type="text" #name name="" [value]="task.name">
    <button type="button" (click)="updateName(name.value)">save</button>
  </div>
  <p>{{task.decription}}</p>
  <p>From: {{task.start_date | date:fulldate}}, to: {{task.due_date | date:fulldate}}</p>
  <p>Effort: actual - {{task.actual_effort}}, estimated - {{task.estimated_effort}}</p>
  <a routerLink="/">go back</a>
</section>
<p *ngIf="error">{{error}}</p>
